body{
	color:  white;
	background-color: black;
}

a{
	text-decoration: none;
	color:  fuchsia;
}

h1, h2{
	text-align: center;
	font-family: 'Press Start 2P';
}

h1{
	color:  chartreuse;
}


main{
	max-width:  1200px;
	margin:  auto;
}

.videoYT{
	margin: auto;
	display:  block;
}

.verCodigo{
	font-family: 'Press Start 2P';
	text-align:  center;
	display: block;
	margin-top: 1em;
}